{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set numberOfCols = config('Ceres.footer.number_of_cols') %}
{% set colSize = (12 / (numberOfCols + 1)) %}
{% set displayedCategories = [] %}
{% set numberOfFeatures = config('Ceres.footer.number_of_features') %}
{% set topButtonPosition = config('Ceres.footer.to_top_button') %}

{% set footerContainer = LayoutContainer.show("Ceres::Footer") | trim %}
{% if footerContainer is empty %}

<div class="footer">

    <div class="{% if topButtonPosition == "right" %}back-to-top{% else %}back-to-top-center{% endif %} hidden-sm-down">
        <i class="fa fa-chevron-up"></i>
    </div>

    <div class="to-top d-md-none" v-scroll-to-top>
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </div>

    {% if numberOfFeatures > 0 %}
        <div class="footer-features py-3 container-max">
            <div class="row">
               <div class="col-12 col-sm-6 col-md-3 text-center">

               		<i aria-hidden="true" class="fa fa-check text-success"></i>

               		<div class="footer-row-txt">Sofort Lieferbar<br>
               		<small>Über 7500 Markenartikel sofort verfügbar</small></div>

               </div>
               <div class="col-12 col-sm-6 col-md-3 text-center">
               		<i aria-hidden="true" class="fa fa-check text-success"></i>
               		<div class="footer-row-txt">Versandkostenfrei<br>
               		<small>ab 50 € Bestellwert</small></div>
               </div>
               <div class="col-12 col-sm-6 col-md-3 text-center">
               		<i aria-hidden="true" class="fa fa-check text-success"></i>
               		<div class="footer-row-txt">100 % Sicher einkaufen<br>
               		<small>SSL-Verschlüsselung im Bestellprozess</small></div>
               </div>
               <div class="col-12 col-sm-6 col-md-3 text-center">
               		<i aria-hidden="true" class="fa fa-check text-success"></i>
               		<div class="footer-row-txt">Verlängerte Rückgabe: 30 Tage<br>
               		<small>anstatt 14 Tage</small></div>
               </div>
            </div>
        </div>
    {% endif %}


    <div class="container-max footer-content">
        <div class="row">
            <div class="col-12">
                <div class="footer-services mt-4">
                    {% set paymentMethodContent = LayoutContainer.show("Ceres::Homepage.PaymentMethods") %}
                    {% if paymentMethodContent|trim is not empty %}
                        <div class="services-payment mb-3">
                            <strong class="services-title">{{ trans("Ceres::Template.footerPaymentMethods") }}</strong>
                            {{ paymentMethodContent }}
                        </div>
                    {% endif %}
                    {% set shippingContent = LayoutContainer.show("Ceres::Homepage.Shipping") %}
                    {% if shippingContent|trim is not empty %}
                        <div class="services-shipping mb-3">
                            <strong class="services-title">{{ trans("Ceres::Template.footerOrderShippedBy") }}</strong>
                            {{ shippingContent }}
                        </div>
                    {% endif %}
                    {% set certifiedContent = LayoutContainer.show("Ceres::Homepage.Certified") %}
                    {% if certifiedContent|trim is not empty %}
                        <div class="services-certificate mb-3">
                            <strong class="services-title">{{ trans("Ceres::Template.footerCertifiedBy") }}</strong>
                            {{ certifiedContent }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
             

        {% set cat = services.category.get(config('Ceres.global.category.legal_disclosure')) %}
        <div class="copyright text-center my-3">
            <div class="static-link-list">
            	<ul>
            		<li><a href="https://www.hundekrone.de/content/widerrufsrecht/" title="Widerrufsrecht">Widerrufsrecht</a></li>
					<li><a href="https://www.hundekrone.de/retouren/widerrufsformular/" title="Widerufsformular">Widerufsformular</a></li>
					<li><a href="https://www.hundekrone.de/content/agb/" title="AGB">AGB</a></li>
					<li><a href="https://www.hundekrone.de/content/datenschutz/" title="Sicherheit & Datenschutz">Sicherheit & Datenschutz</a></li>
					<li><a href="https://www.hundekrone.de/content/impressum/" title="Impressum">Impressum</a></li>
					<li><a href="https://www.hundekrone.de/content/haftungsausschluss/" title="Haftungssuaschluss">Haftungsausschluss</a></li>
					<li><a href="https://www.hundekrone.de/content/kundeninformationen/" title="Kundeninformationen">Kundeninformationen</a></li>
					<li><a href="https://www.hundekrone.de/content/batteriegesetz/" title="Batteriegesetz">Batteriegesetz</a></li>
            	</ul>
            </div>
        </div>
    </div>
</div>
{% else %}
    <div class="footer container-max">
        <div class="row">
            <div class="col clearfix">
                {{ footerContainer | raw }}
            </div>
        </div>
        <div class="{% if topButtonPosition == "right" %}back-to-top{% else %}back-to-top-center{% endif %} hidden-sm-down">
            <i class="fa fa-chevron-up"></i>
        </div>

        <div class="row">
            <div class="to-top hidden-md-up" v-scroll-to-top>
                <i class="fa fa-arrow-up" aria-hidden="true"></i>
            </div>
        </div>
    </div>
{% endif %}

<div class="pe-richsnippets"></div>
<script type="text/javascript" src="https://www.provenexpert.com/widget/richsnippet.js?u=1RUBjtQAlNwplSUZm9zZjuQpmHmplVwZ&v=2" async></script>

<!-- ProvenExpert Bewertungssiegel -->
<style type="text/css">body {-ms-overflow-style: scrollbar;} @media(max-width:399px){#ProvenExpert_widget_container {display:none;}}</style>
<a id="ProvenExpert_widget_container" href="https://www.provenexpert.com/hundekrone/?utm_source=Widget&amp;utm_medium=Widget&amp;utm_campaign=Widget" title="Kundenbewertungen &amp; Erfahrungen zu Hundekrone. Mehr Infos anzeigen." target="_blank" style="text-decoration:none;z-index:9999;position:fixed;float:left;line-height:0;right:0px;bottom:200px;"><img src="https://images.provenexpert.com/02/8a/c4dafabc96219eb313b0ac9a2089/widget_portrait_120_de_0.png" alt="Erfahrungen &amp; Bewertungen zu Hundekrone" width="120" height="144" style="border:0" />
<span id="ProvenExpert_slider_feedback" style="position:absolute;padding:2px 0 0px 0;top:0;left:120px;"></span>
<script type="text/javascript" src="//www.provenexpert.com/slider_hundekrone.js?sk=p_120"></script>
</a>
<!-- ProvenExpert Bewertungssiegel -->