{% set companyLogo  = config("Ceres.header.company_logo") %}
{% set showHeaderNavBar = config("Ceres.header.show_navbars") %}
{% set companyName  = trans("Ceres::Template.headerCompanyName") %}
{% set useMegaMenu  = config("Ceres.header.megamenu_levels") > 1 %}

<nav class="navbar{% if useMegaMenu %} megamenu{%endif%}">
    <div class="container-max">
        <div class="row mx-0">
            <div class="brand-wrapper" {% if showHeaderNavBar == "side" %}style="position: relative"{% endif %}>
                <a class="navbar-brand" href="{{ homepageURL }}">
                    {% if ('http' in companyLogo) or ('layout/' in companyLogo) %}
                        <img alt="{{ companyName }}" src="{{ companyLogo }}" class="img-fluid" />
                    {% else %}
                        <img alt="{{ companyName }}" src="{{ plugin_path('Ceres') }}/{{ companyLogo }}" class="img-fluid" />
                    {% endif %}
                </a>

                <button id="btnMainMenuToggler" v-open-mobile-navigation class="navbar-toggler d-lg-none" type="button">
                    &#9776;
                </button>
            </div>

            <div id="mainNavbarCollapsable" class="d-none d-lg-block">
                {% if showHeaderNavBar == "top" or showHeaderNavBar == "both" or not services.template.isCategory() %}
                    {% include "Ceres::PageDesign.Partials.Header.NavigationList" %}
                {% endif %}


                <div id="searchBox" class="cmp cmp-search-box collapse">
		            {% set overrideSearchBar = LayoutContainer.show("Ceres::Search.SearchBar") %}
		            {% if overrideSearchBar | trim is empty %}
		                <item-search template="#vue-item-search"></item-search>
		            {% else %}
		                {{ overrideSearchBar | raw }}
		            {% endif %}
		        </div>
            </div>

        </div>
    </div>
</nav>

